<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guardian Tournament</title>
</head>
<body>
    <header class="hero">
        <div class="hero-wrap">
         <p class="intro" id="intro">Guardian</p>
             <h1 id="headline">Tournament</h1>
             <p class="year"><i class="fa fa-star"></i> 2020 <i class="fa fa-star"></i></p>
         <p>On Ever Onward! Dear AUP!</p>
       </div>
        </header>
</body>
</html>
