<div *ngIf="posts?.length > 0;else noItems">
    <div class="searchBarClass">
    <input type="text" name="search" autocomplete="off" [(ngModel)]="search" class="searchBar" placeholder="Search a post . . . .">
    </div>
    <div *ngFor="let post of posts | filter:search" class="collection">
        <div class="main-container">
        <div class="post-container">
            <div >
                <label class="collection-item-code">{{post.codename}} </label>
                <div class="divIcon">
                    <img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/edit.png?raw=true" (click)="editItem($event, post)" class="editIcon" *ngIf="post.userName == auth.getUserDetails()?.first_name" data-toggle="tooltip" data-placement="top" title="Edit" >
                    <img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/delete.png?raw=true" *ngIf="editState && itemToEdit.id == post.id" class="deleteIcon" (click)="deleteItem($event, post)" data-toggle="tooltip" data-placement="top" title="Delete">
                    <img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/compress.png?raw=true" *ngIf="editState && itemToEdit.id == post.id" (click)="clearState()" class="compressEdit" data-toggle="tooltip" data-placement="top" title="Minimize">
               </div>
            </div>
            <div>
                <label class="timeDate" >{{post.timeDate.seconds*1000 | date: 'h:mm a MMM d y EEE'}}</label>
            </div>
                
        </div>
        <div class="post-content-container">
            <label class="collection-item">{{post.post}}</label>
        </div>
        <!-- <div class="reaction-container">
            <form (ngSubmit)="ups(post, auth.getUserDetails().email)" class="form1" >
                <label>
                <img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/ups.png?raw=true" class="upBTN" data-toggle="tooltip" data-placement="top" title="Like">
                <label>{{post.ups}}</label>
                <input type="submit" value="" class="btn" style="display: none;"></label>
                <input name="upsBtn" type="hidden" id="upsBtn" [(ngModel)]="post.ups" value={{post.ups}}>
                <input type="hidden" name="userEmail" id="userEmail" [(ngModel)]="like.userEmail" value={{auth.getUserDetails()?.email}}>
                <input name="postID" id="postid" ngModel type="hidden" value={{this.post.id}} [(ngModel)]="like.postID">
                <input type="hidden" id="likeid" ngModel name="likeid" value={{this.like.id}} [(ngModel)]="like.id">
            </form>
            <form (ngSubmit)="upsDowns2(post)" class="form2">
            <label>
                <img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/downs.png?raw=true" class="downBTN" data-toggle="tooltip" data-placement="top" title="Dislike">{{post.downs}} <input type="submit" value="" class="btn" style="display: none;"></label>
            <input name="downsBtn" type="hidden" id="downsBtn" [(ngModel)]="post.downs" value={{post.downs}}>
        </form> -->
        <!-- </div> -->
        <div class="hidden-edit-container" *ngIf="editState && itemToEdit.id == post.id">
            <div class="editpost">
                <form (ngSubmit)="updateItem(post)" class="form">
                    <div class="hidden-field">
                        <textarea name="post" placeholder="  Share your thoughts . . ." cols="30" rows="5" [(ngModel)]="post.post" class="postfield" name="post"></textarea>
                    </div>
                        <input type="submit" value="Update" class="btn">
                </form>
            </div>
        </div><hr>
        <div class="showCommentSection"  (click)="showComments($event, post)" data-toggle="tooltip" title="Show Comment">
            <label class="showComment"></label>
        </div>
        <div class="comment-section" *ngIf="commentsV && commentsToShow.id == post.id">
            Comments:
            <div class="container"  *ngFor="let comment of comments">
                <div class="collection-comment" *ngIf="comment.postid == post.id">
                    <div class="div-CC">
                        <label class="comment-Codename">
                            {{comment.commentcodename}}
                        </label>          
                    </div>             
                         <div class="comment-Item">
                            <label class="collection-item">
                                {{comment.comment}}
                            </label>
                            <button class="btnDelete" (click)="deleteComment($event, comment)" *ngIf="comment.commentcodename == auth.getUserDetails()?.first_name">Delete</button>   
                         </div>
                </div>
            </div>
            <form (ngSubmit)="onSubmit(post.id, auth.getUserDetails()?.first_name)" class="form">
                <div class="input-field">
                    <textarea name="comment" placeholder="  Share your comment . . ." cols="30" rows="10" [(ngModel)]="comment.comment" class="commentfield" name="comment">
                    </textarea>
                    <input name="userName" id="userName" ngModel type="hidden" value={{auth.getUserDetails()?.first_name}} [(ngModel)]="comment.commentcodename">
                    <input name="postID" id="postid" ngModel type="hidden" value={{this.post.id}} [(ngModel)]="comment.postid">
                    <button type="submit" class="btnComment"><img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/send.png?raw=true" class="icon"></button>
                </div>
            </form>
            <div class="hideCommentSection" *ngIf="commentsV" (click)="hideComments()" data-toggle="tooltip" title="Hide Comments">
            <label class="hideComment"></label>
            </div>
        </div>
    </div>
    </div>
</div>
<ng-template #noItems>
    <hr>
    <h5>There are no posts on the list.</h5>
</ng-template>