<div class="body">
<div class="heroImage">
    <img src="/assets/UpdatesBackground.jpg" alt="" class="UpdatesBG">
</div>

<div class="Title">
    <h1 class="Tups">GUARDIAN UPDATES</h1>
</div>

    <div class="post-grid">
        <!--Post #1-->
        <div class="post-1">
            <div>
                <img src="/assets/GUARDIANS.jpg" alt="" class="picture-post1">
            </div>

                <div class="post-title">
                    <h1>The Birth of Guardians</h1>
                </div>

                <div class="message-post1">
                    <h2>April 15, 2020</h2>
                    <p>
                        We are excited to announce the launch of The Guardian Website, our goal with this 
                        new designed website is to create a user-friendly browsing experience for anyone to 
                        use. We hope you enjoy our website uncluttered design that is easy to navigate, and 
                        more user-friendly.
                    </p>
                    <h3>-Sincerely,  Team Guardian-</h3>
                </div> 
        </div>
         <!--Post #2-->
         <div class="post-2">
            <div>
                <img src="/assets/image/final.jpg" alt="" class="picture-post2">
            </div>

                <div class="post-title2">
                    <h1>Guardian Tournament</h1>
                </div>

                <div class="message-post2">
                    <h2>April 30, 2020</h2>
                    <p>
                        We, the Guardian team is happy to announce our plans for the Guardian Tournament.
                        Due to the current situation our country is in, our current plans for the tournament will 
                        start once our country's situation gets better. We encourage everyone to stay at home and be safe. 
                        We will keep everyone updated with our plans and actions. We will post all our updates and news.
                    </p>
                    <h3>-Sincerely,  Team Guardian-</h3>
                </div> 
        </div>
        <!--Post #3-->
        <div class="post-2">
            <div>
                <img src="/assets/whatscoming.jpg" alt="" class="picture-post3">
            </div>

                <div class="post-title3">
                    <h1>Guardians in Few Months</h1>
                </div>

                <div class="message-post3">
                    <h2>May 5, 2020</h2>
                    <p>
                    In the next few months we have big plans for our website, unfortunately we cannot reveal 
                    those plans just yet, however we would like everyone to stay updated and look forward on what's 
                    to come, we promise that as the months go by, the Guardian website will improve drastically.
                    </p>
                    <h3>-Sincerely,  Team Guardian-</h3>
                </div> 
        </div>
    </div>

</div>