<div class="body">
    <div class="heroImage">
        <img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/UpdatesBackground.jpg?raw=true" alt="" class="UpdatesBG">
    </div>

    <div class="Title">
        <h1 class="Tups">GUARDIAN UPDATES</h1>
    </div>
    <div class="post-grid">
       
        <!--Post #6-->
        <div class="post-6">
            <div>
                <img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/whatscoming.jpg?raw=true" alt="" class="picture-post6">
            </div>

            <div class="post-title6">
                <h1>Guardian: What's New?</h1>
            </div>

            <div class="message-post6">
                <h2>May 15, 2020</h2>
                <p>
                    We are happy to share with you guys our new additions to the Guardian website. We added 
                    a contact page, so that you can reach out to us with all of your concerns and opinions.
                    Your opinion matters to us greatly and we take each concern seriously, so we are excited 
                    to include a contact page in our website. We also added a rank section in the news feed so that
                    you can always be updated with our tournament matches. We thank you for your patience and we hope
                    you enjoy and appreciate our newest additions to the website. Stay safe and God bless.
                </p>
                <h3>-Sincerely, Team Guardian-</h3>
            </div>
        </div>
        <!--Post #5-->
        <div class="post-5">
            <div>
                <img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/whatscoming.jpg?raw=true" alt="" class="picture-post5">
            </div>

            <div class="post-title5">
                <h1>Guardian Team Updates</h1>
            </div>

            <div class="message-post5">
                <h2>May 5, 2020</h2>
                <p>
                    In the next few months we have big plans for our website, unfortunately we cannot reveal
                    those plans just yet, however we would like everyone to stay updated and look forward on what's
                    to come, we promise that as the months go by, the Guardian website will improve drastically.
                    As for the Tournament, with the information we currently have, the earliest date we can give you 
                    is that it may start in the month of August, 2020. We hope you are all safe, God bless. 
                </p>
                <h3>-Sincerely, Team Guardian-</h3>
            </div>
        </div>
        <!--Post #4-->
        <div class="post-4">
            <div>
                <img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/image/final.jpg?raw=true" alt="" class="picture-post4">
            </div>

            <div class="post-title4">
                <h1>Update: Quarantine</h1>
            </div>

            <div class="message-post4">
                <h2>April 29, 2020</h2>
                <p>
                 Good day everyone, We hope you are all doing well, with the current situation and the recent 
                announcement of the goverment, the tournament is still postponed. With that said, We do want 
                to inform everyone that the Guardian Team is doing their best to make sure that the 
                tournament will be ready once the Enhance Community Quarantine is over. Stay safe and God Bless.
                </p>
                <h3>-Sincerely, Team Guardian-</h3>
            </div>
        </div>
        <!--Post #3-->
        <div class="post-3">
            <div>
                <img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/whatscoming.jpg?raw=true" alt="" class="picture-post3">
            </div>

            <div class="post-title3">
                <h1>Guardians News</h1>
            </div>

            <div class="message-post3">
                <h2>April 26, 2020</h2>
                <p>
                    New updates in the tournament page will be released soon! Stay safe! To our brave 
                    frontliners, we thank you for all of your sacrifices and hard work. God bless to you all.
                </p>
                <h3>-Sincerely, Team Guardian-</h3>
            </div>
        </div>
        <!--Post #2-->
        <div class="post-2">
            <div>
                <img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/image/final.jpg?raw=true" alt="" class="picture-post2">
            </div>

            <div class="post-title2">
                <h1>Guardian Tournament</h1>
            </div>

            <div class="message-post2">
                <h2>April 23, 2020</h2>
                <p>
                    We, the Guardian team is happy to share with you our future plans for the Guardian Tournament.
                    Due to the current situation our country is in, our current plans for the tournament will
                    start once our country's situation gets better. We encourage everyone to stay at home and be safe.
                    We will keep everyone updated with our plans and actions. We will post all our updates and news.
                </p>
                <h3>-Sincerely, Team Guardian-</h3>
            </div>
        </div>
        <!--Post #1-->
        <div class="post-1">
            <div>
                <img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/GUARDIANS.jpg?raw=true" alt="" class="picture-post1">
            </div>

            <div class="post-title1">
                <h1>The Birth of Guardian</h1>
            </div>

            <div class="message-post1">
                <h2>April 15, 2020</h2>
                <p>
                    We are excited to announce The Guardian Website, our goal with this website is to 
                    create a user-friendly browsing experience for anyone to use. We hope to create a safe 
                    environment so you can feel comfortable in sharing opinions and to have conversations With
                    other users. We hope you enjoy our website uncluttered design that is easy to navigate, 
                    and more user-friendly.
                </p>
                <h3>-Sincerely, Team Guardian-</h3>
            </div>
        </div>
    </div>
    <app-tournament-footer></app-tournament-footer>
</div>