.body {
    background-color: rgb(27, 27, 27);
    background-image: url(https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/background1234.jpg?raw=true);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.heroImage img{
    width: 100%;
}
.updatesBG {
    margin-top: 50px;
}
.Title {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.Tups {
    background-image: url(https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/updates.jpg?raw=true);
    background-repeat: no-repeat;
    border: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: rgb(226, 116, 46);
    padding-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 2.2rem;
    padding-left: 83px;
    padding-right: 38px;
}
.post-grid {
    margin-top: 30px;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    justify-items: center;
    width: 100%;
}
//POST #1
.post {
    width: 358px;
    position: relative;
    border: solid;
    border-radius: 10px;
    border-width: 4px;
    border-color: rgb(226, 116, 46);
    margin-top: 15px;
}
.picture-post {
    border-radius:10px;
    width: 350px;
    border-bottom: solid;
    border-color: rgb(226, 116, 46);
}
.post-title {
    border-bottom: solid;
    border-color: rgb(226, 116, 46);;
    border-radius: 4px;
    padding-bottom: 5px;
    background-image: url(https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/post-title.jpg?raw=true);
}
.post-title h1 {
    color: white;
    padding-left: 40px;
    padding-top: 10px;
    font-size: 1.4rem;
    text-align: center;
}
.message-post h2 {
    color: white;
    text-align: justify;
    padding: 10px;
    font-size: 15px;
}
.message-post h3 {
    color: white;
    text-align: right;
    padding: 10px;
    font-size: 15px;
}
.message-post p {
    color: white;
    text-align: justify;
    padding: 10px;
}
/*Moibile Responsive*/

@media screen and (max-width: 320px){
    .heroImage img{
        margin-top: 70px;
        width: 100%;
    }
    .post-grid {
        grid-template-columns: repeat(1, 1fr);
        display: grid;
    }
    .post {
        width: 300px;
    }
    .picture-post {
        width: 290px;
    }
    .post-title h1 {
        font-size: 1.2rem;
    }
    
}

@media screen and (max-width: 360px){
    .heroImage img{
        margin-top: 70px;
        width: 100%;
    }
    .Tups {
        font-size: 1.7rem;
        padding-top: 5px;
    }
    .post-grid {
        grid-template-columns: repeat(1, 1fr);
        display: grid;
        justify-items: center;
    }
  }

  @media screen and (max-width: 375px){
    .heroImage img{
        margin-top: 70px;
        width: 100%;
    }
    .Tups {
        font-size: 1.7rem;
        padding-top: 5px;
    }
    .post-grid {
        grid-template-columns: repeat(1, 1fr);
        display: grid;
        justify-items: center;
    }
  }

@media screen and (max-width: 420px){
    .Tups {
        font-size: 185%;
        padding-top: 0px;
    }
    .post-grid {
        grid-template-columns: repeat(1, 1fr);
        display: grid;
        justify-items: center;
    }
    .message-post p {
        font-size: 20px;
        padding: 13px;
    }
}


@media screen and (max-width: 4200px){
    
}