.body{
    background-color: rgb(27, 27, 27);
    background-image: url(/assets/background1234.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.updatesBG{
    margin-top: 50px;
}

.Title{
    margin-top: 30px;
    background-color: rgb(27, 27, 27);
    width: 450px;
    margin-left: 450px;
    background-image: url(/assets/updates.jpg);
    border: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: rgb(226, 116, 46);
}

.Tups{
    padding-top: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2.2rem;
    padding-left: 59px;
}

.post-grid{
    margin-top: 30px;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    padding-left: 70px;
}

//POST #1
.post-1{
    width: 358px;
    position: relative;
    border: solid;
    border-radius: 10px;
    border-width: 4px;
    border-color: rgb(226, 116, 46);

}
.picture-post1{
    border-radius:10px;
    width: 350px;
    border-bottom: solid;
    border-color: rgb(226, 116, 46);
}
.post-title{
    border-bottom: solid;
    border-color: rgb(226, 116, 46);;
    border-radius: 4px;
    padding-bottom: 5px;
    background-image: url(/assets/post-title.jpg);
}
.post-title h1{
    color: white;
    padding-left: 40px;
    padding-top: 10px;
    font-size: 1.4rem;
    text-align: center;

}
.message-post1{
    color: white;
    text-align: center;
    padding: 5px;
}

//Post #2
.post-2{
    position: relative;
    border: solid;
    width: 358px;
    border-radius: 10px;
    border-width: 4px;
    border-color: rgb(226, 116, 46);
}

.picture-post2{
    border-radius:10px;
    width: 350px;
    border-bottom: solid;
    border-color: rgb(226, 116, 46);
}
.post-title2{
    border-bottom: solid;
    border-color: rgb(226, 116, 46);;
    border-radius: 4px;
    padding-bottom: 5px;
    background-image: url(/assets/post-title.jpg);
}
.post-title2 h1{
    color: white;
    padding-left: 40px;
    padding-top: 10px;
    font-size: 1.4rem;
    text-align: center;
}
.message-post2{
    color: white;
    text-align: center;
    padding: 5px;
}

//POST #3
.post-3{
    width: 358px;
    position: relative;
    border: solid;
    border-radius: 10px;
    border-width: 4px;
    border-color: rgb(226, 116, 46);

}
.picture-post3{
    border-radius:10px;
    width: 350px;
    border-bottom: solid;
    border-color: rgb(226, 116, 46);
}
.post-title3{
    border-bottom: solid;
    border-color: rgb(226, 116, 46);;
    border-radius: 4px;
    padding-bottom: 5px;
    background-image: url(/assets/post-title.jpg);
}
.post-title3 h1{
    color: white;
    padding-left: 40px;
    padding-top: 10px;
    font-size: 1.4rem;
    text-align: center;

}
.message-post3{
    color: white;
    text-align: center;
    padding: 5px;
}