.sidenav-container {
  width: 100%;
}

.sidenav {
  width: 100%;
  background: white;
}
.close-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.head{
  background: rgb(27, 27, 27);
  padding-bottom: 1rem;
}
.sidenav .mat-toolbar {
  background: rgb(27, 27, 27);
  z-index: 10;
  padding: 0px 0px;
  color: white;
}

.mat-list-base {
  padding-top: 0px;
}

.mat-toolbar.mat-primary {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0;
  right: 0;
  z-index: 3;
  width: 0%;
  background: inherit;
  
}
//mobile responsive
@media screen and (min-width:961px){
  .nav-button{
    display: none;
  }
}

@media screen and (max-width:599px){
  .mat-toolbar.mat-primary{
    top: 4px;
  }
}

@media screen and (max-width:426px){
  .mat-toolbar.mat-primary{
    right: -10px;
  }
}
