<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" fixedTopGap="61" position="end" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false">
    
    
    <mat-toolbar>
      <button type="button" class="close-button" mat-icon-button (click)="drawer.close()">
        <mat-icon aria-label="Side nav toggle icon">clear</mat-icon>
      </button>
    </mat-toolbar>
      <div class="head">
        <h2 class="header-title">Site Navigation</h2>
      </div>
    
    <mat-nav-list>
      <a mat-list-item (click)="home()">Home</a>
      <a mat-list-item (click)="tournamentPage()">Tournament</a>
      <a mat-list-item (click)="blogPage()">Updates</a>
      <a mat-list-item (click)="contactPage()">Contacts</a>
    </mat-nav-list>
  </mat-sidenav>




  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" class="nav-button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
