.sidenav-container {
  width: 100%;
}

.sidenav {
  width: 100%;
  background: rgb(44, 44, 44);
  color: white;
}
.close-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
button:focus {
  outline:0;
}
.head{
  background: rgb(27, 27, 27);
  padding-bottom: 1rem;
}
.sidenav .mat-toolbar {
  background: rgb(27, 27, 27);
  z-index: 10;
  padding: 0px 0px;
  color: white;
}

.mat-list-base {
  padding-top: 0px;
}

.mat-toolbar.mat-primary {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0;
  right: 0;
  z-index: 3;
  width: 0%;
  background: inherit;
  
}
.mat-list-base .mat-list-item{
  font-size: 1rem;
}
:host ::ng-deep .user .profileCard{
  display: block;
  position: relative;
  top: 1px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 100%;
  float: none;
  height: 48vmax;
  background-image: url(https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/ResizedUserBG.jpg?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
:host ::ng-deep .user .badges{
  display: flex;
  position: relative;
  top: -19px;
  border-left: 2px solid #f88518;
  border-right: 2px solid #f88518;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: unset;
  border-radius: 10px;
  background-image: url(https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/background1234.jpg?raw=true);
}
:host ::ng-deep .user h6{
  position: relative;
  z-index: 2;
  top: 29px;
  font-size: 23px;
}
:host ::ng-deep .user .starbadge{
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  margin: 0;
}
:host ::ng-deep .user .collegebadge{
  display: flex;
  width: 100%;
  margin: 0;
}

:host ::ng-deep .bulletin .bulletinPanel{
  position: relative;
  top: 16vw;
  display: block;
  width: 73%;
}
:host ::ng-deep .bulletin .upcoming-section{
  width: 127%;
  height: auto;
  padding: 3%;
}
:host ::ng-deep .bulletin p{
  font-size: 4vw;
}
.mat-list-item{
  overflow: hidden;
  margin-right: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}
//mobile responsive
@media screen and (min-width:961px){
  .nav-button{
    display: none;
  }
}

@media screen and (max-width:599px){
  .mat-toolbar.mat-primary{
    top: 4px;
  }
}

@media screen and (max-width:426px){
  .mat-toolbar.mat-primary{
    right: -10px;
  }
}
