    <div class="about">
        <h1>WELCOME GAMERS</h1>

        <p> The Guardian team is happy to announce our plans for the upcoming Guardian Tournament.
            There will be 3 esports games to be featured in this year's Tournament. We are hoping to provide
            a platform for students who are passionate about these games, to create a community filled
            with passion and excitement.</p>

        <p>
            Due to the current situation our country is in, there are no specific dates on when will our
            tournament start. We encourage everyone to stay at home and be safe. We will keep everyone
            updated with our plans and actions. We will post all our updates and news in our Guardian newsfeed.
            Thank you for your patience, God bless.
        </p>

        <h2>Guardian Esports Games</h2>
        <h3>The following are the games that are included in the tournament:</h3>

        <div class="team-main-grid">
            <!--FOR DOTA-->
            <div class="team-grid1">
                <img src="/assets/image/dota2.png" class="image">
                <h1>Defense of the Ancients 2</h1>
                <h2>GAME 1</h2>
            </div>

            <!--FOR LOL-->
            <div class="team-grid2">
                <img src="/assets/image/lol.png" class="image">
                <h1>League of Legends</h1>
                <h2>GAME 2</h2>
            </div>

            <!--FOR ML-->
            <div class="team-grid3">
                <img src="/assets/image/bang.png" class="image">
                <h1>Mobile Legends Bang Bang</h1>
                <h2>GAME 3</h2>
            </div>
        </div>

    </div>