.body{
    background-image: url(/assets/background1234.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
body {
    padding-top: 0px;
    margin: 0;
    top: 0;
    right: 0;
    scroll-behavior: smooth;
    margin-bottom: -10px;
    background-image: url(/assets/background1234.jpg);
}

.about h1 {
    margin-top: 10px;
    color: rgb(248, 133, 24);
    font-size: 40px;
    text-align: center;
}
.about p {
    color: white;
    font-size: 20px;
    text-align: justify;
    padding: 0px;
    margin: 38px;
}
.about h2 {
    margin-top: 0px;
    color: rgb(248, 133, 24);
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
}
.about h3 {
    margin-top: 0px;
    color: rgb(248, 133, 24);
    font-size: 20px;
    text-align: center;
}
.game-main-grid {
    margin-left: 120px;
    width: 1100px;
    background-color: #1d1d1d;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-style: solid;
    border-width: 4x;
    border-color: rgb(14, 14, 14);
    border-radius: 10px;
    background-image: url(/assets/fireBG.jpg);
    padding: 10px;
}
.game-grid1 {
    position: relative;
    width: 80%;
    margin:10px;
    font-size: 20px;
    border-radius: 10px;
}
.game-grid2 {
    position: relative;
    width: 80%;
    margin:10px;
    font-size: 20px;
}
.game-grid3 {
    position: relative;
    width: 70%;
    margin:10px;
    margin-top: 50px;
    font-size: 20px;
}
.game-grid1 .image {
    position: sticky;
    width: 80%;
    height: 55%;
    float: right;
    margin-right: -20px;
}
.game-grid2 .image {
    position: sticky;
    width: 80%;
    height: 57%;
    float: right;
    margin-right: -25px;
}
.game-grid3 .image {
    position: sticky;
    width: 80%;
    height: 80%;
    float: right;
    margin-right: -20px;
}
.game-main-grid h1{
    text-align: center;
    color: rgb(248, 133, 24);
    font-size: 1.3rem;
    margin-left: 35%;
}
.game-main-grid h2 {
    background-color: rgb(248, 133, 24);
    text-align: center;
    color: black;
    font-size: 1.5rem;
    margin-left: 40%;
    margin-bottom:20%;
    border-radius: 10px;
}

