img {
    width: 110%;
	height: 40%;
	margin-top: 20px;
    margin-left: -85px;
  }
.body {
	background-image: url(https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/background1234.jpg?raw=true);
	background-repeat: no-repeat;
    scroll-behavior: smooth;
	overflow-x: hidden;
	
}
//intro 
.contact {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.contact h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(248, 133, 24);
	margin:0 auto;
	border: 1px solid;
	border-radius: 50px;
	background-image: url(https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/ContactTitle.jpg?raw=true);
}
.contact p {
    padding: 50px;
    text-align: justify;
    font-size: 25px;
	color: white;
	border: 1px solid rgb(248, 133, 24);
	border-radius: 50px;
	background-image: url(https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/ContactBody.jpg?raw=true);
}
//Send us a message section

.contact-section{
	padding: 80px 0;
	text-align: center;
  }
  
  .inner-width{
	max-width: 600px;
	margin: auto;
	padding: 0 20px;
  }


  
  .contact-section h1{
	font-size: 20px;
	color:rgb(248, 133, 24);
	margin-bottom: 40px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 400;
  }
  
  .name,.email,.message{
	background: none;
	border:none;
	outline: none;
	border-bottom: 1px solid;
	color: #888;
	padding: 10px 6px;
	font-size: 14px;
	margin-bottom: 40px;

  }
// .inner-width input{
// 	color: rgb(248, 133, 24);
// }
  
  .name{
	float: left;
	width: 270px;
  }
  
  .email{
	float: right;
	width: 270px;
  }


  
  .message{
	min-width: 100%;
	max-width: 100%;
  }

  .message:hover{
	height: 100px;
  }

  textarea{
	resize: none;
  }
  ::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.btn-submit{
		text-decoration: none;
		background: none;
		color: rgb(248, 133, 24);
		border: 1px solid white;
		padding: 12px 40px;
		border-radius: 8px;
		text-transform: uppercase;
		font-size: 14px;
		transition: 0.4s linear;
		cursor: pointer;			
	}

 	.btn-submit:hover{
	background: rgb(248, 133, 24);
	color: #fff;
  }
  

//footer
.footer{
    bottom: 0;
    margin:0 auto;

}
.footer-distributed{
	background-color: #181818;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
    width: 100%;
	text-align: left;
    font: bold 16px sans-serif;
    overflow-x: hidden;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Army Buster', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:rgb(248, 133, 24);
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  rgb(248, 133, 24);
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}

  
 
  



/* Mobile Responsive */

@media screen and (max-width: 768px) {
	.contact-Card {
		width: 700px;
		height: 500px;
	}

	.btn-submit{
		margin-left: 120px;
	}

	#mailMessage{
		width: 250%;
		padding: 7px 0px;
	}
}

@media screen and (max-width:600px){
	.name,.email{
	  width: 100%;
	}
  }



@media  screen and (max-width: 320px) {
	.contact-Card{
		grid-template-columns: repeat(1, 1fr);
		width: 300px;
	}
}

p label{
	cursor: pointer;
}
	