

<div class="body">
    <div class="hero-wrap">
        <img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/ContactPage.jpg?raw=true">
   </div>
    <div class="contact">
         <!--intro-->
        <h1>CONTACT US</h1>
        <P>
           Hey there! your feedback is very important to us, so if you have any questions, concerns and complaints about our website feel free to send us 
           a message. We are open to hear your opinions and comments to further improve our website for your 
           enjoyment. 
        </P>
    </div>
     <!--send email-->
        <form class="contact-Card">
            <h2>Send Us a Message</h2>
            
            <div class="form-row">
                <label class="form-label">Subject:</label>
    
                <div class="form-input">
                    <input id="mailSubject" class="form-input-text" type="text">
                </div>
            </div>
    
            <div class="form-row">
                <label class="form-label">Message:</label>
    
                <div class="form-input">
                    <textarea id="mailMessage" class="form-input-textarea" type="text"></textarea>
                </div>
            </div>
    
            <div class="form-submit">
                <a onmouseover="appendMailTo()" id="sendMail" href="mailto:cjthegreat82@gmail.com"
                    class="btn-submit">SUBMIT</a>
            </div>
        </form>

        <footer class="footer-distributed">

			<div class="footer-left">

				<h3>AUP<span>Guardians</span></h3>

				<p class="footer-links">
					<a href="#">Home</a>
					·
					<a href="#">Tournament</a>
					·
					<a href="#">Updates</a>
					·
					<a href="#">About</a>
					·
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">Guardians &copy; 2020</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Puting Kahoy</span> Silang, Cavite</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+09554668446</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">contact@aupGuardians.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the Guardians</span>
					Our goal with this new designed website is to create a user-friendly browsing experience for anyone to use. We hope you enjoy our website uncluttered design that is easy to navigate, and more user-friendly.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"  data-toggle="tooltip" data-placement="top" title="Facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"  data-toggle="tooltip" data-placement="top" title="Twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"  data-toggle="tooltip" data-placement="top" title="LinkedIn"></i></a>
					<a href="#"><i class="fa fa-github"  data-toggle="tooltip" data-placement="top" title="Github"></i></a>

				</div>

			</div>

		</footer>

</div>