<div class="body">
    <div class="contact">
         <!--intro-->
        <h1>CONTACT US</h1>
        <P>
           If you have any questions about our website feel free to send us a message.
        </P>
    </div>
     <!--send email-->
        <form class="contact-Card">
            <h2>Send Us a Message</h2>
            
            <div class="form-row">
                <label class="form-label">Subject:</label>
    
                <div class="form-input">
                    <input id="mailSubject" class="form-input-text" type="text">
                </div>
            </div>
    
            <div class="form-row">
                <label class="form-label">Message:</label>
    
                <div class="form-input">
                    <textarea id="mailMessage" class="form-input-textarea" type="text"></textarea>
                </div>
            </div>
    
            <div class="form-submit">
                <a onmouseover="appendMailTo()" id="sendMail" href="mailto:cjthegreat82@gmail.com"
                    class="btn-submit">SUBMIT</a>
            </div>
        </form>
</div>