   <div class="featureplays">
        <div class="feature">
            <div class="Title">
                <h1>This Week's Play of the Game</h1>
                <video controls class="vid">
                    <source src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/feature.mp4?raw=true">
                </video>
            </div>
        
        
            <div class="player">
                <img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/image/doge.png?raw=true">
                <h1>Player of the Week: </h1>
                <h2>Name: Jether "Slift" De Leon</h2>
                <h2>Game: League of Legends</h2>
                <h2>KDA: 100/0/69</h2>
            </div>
        </div>
    </div> 