.card{
    padding: 35px;
    display: flex;
    justify-content: center;
    background-color: #343a40;
    border-radius: 30px;
}
.postfield{
    display: flex;
    width: 29rem;
    border-radius: 10px;
    margin-bottom: 8px;
    background-color: rgb(41, 41, 41);
    height: 50px;
    font-size: 25px;
    color: rgb(209, 209, 209);
    padding-left: 10px;
    padding-right: 10px;
}
.postfield:hover{
    height: 80px;
    transition: .3s;
}
.codenamefield{
    color: rgb(209, 209, 209);
    width: 20rem;
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.btnPost{
    margin-left: 10px;
    border-radius:10px;
    background-color: rgb(221, 211, 74);
    border:none;
    padding-left: 35px;
    padding-right: 35px;
    height:30px;
}
.btnPost:hover{
    background-color: rgb(243, 234, 107);
    font-weight: bold;
}
.icon{
    width: 20px;
    height: auto;
    margin-right: 4px;
}

