<div class="glogo"><img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/gicon.png?raw=true" class="minilogo"  (click)="home()" style="cursor: pointer;"></div>
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="auth.isLoggedIn()">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="navbar-nav">
        <div class="flexbox">
            <div class="usersname" (click)="home()"><img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/HomeIcon.png?raw=true" id="homeIcon" class="homeIcon" data-toggle="tooltip" data-placement="top" title="Home"></div>
            <div class="usersname" (click)="tournamentPage()"><img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/TrophyIcon.png?raw=true" id="trophyIcon" class="trophyIcon" data-toggle="tooltip" data-placement="top" title="Tournament"></div>
            <div class="usersname" (click)="blogPage()"><img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/blogIcon.png?raw=true" id="blogIcon" class="blogIcon" data-toggle="tooltip" data-placement="top" title="Updates"></div>
            <div class="usersname" (click)="contactPage()"><img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/ContactIcon.png?raw=true" id="contactIcon" class="contactIcon" data-toggle="tooltip" data-placement="top" title="Contact Us"></div>
            <div class="usersname" (click)="dashboard()"><img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/dashboard.png?raw=true" id="dashboard" class="contactIcon" data-toggle="tooltip" data-placement="top" title="Admin Page"></div>
            <div class="usersname" (mouseenter)="clicked = true" (mouseout)="clicked = false">{{auth.getUserDetails()?.first_name}} {{auth.getUserDetails()?.last_name}}<br>
            <div id="userProfile" *ngIf="clicked == true">
                <app-user-profile></app-user-profile>
            </div>
            </div>
            <div class="end" ><a class="nav-item nav-link" (click)="logout()"><img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/logoutIcon.png?raw=true" class="logoutIcon" data-toggle="tooltip" data-placement="top" title="Logout"></a></div>
        </div>
    </div>
  </nav>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
<router-outlet></router-outlet>










