<div class="glogo"><img src="/assets/gicon.png" class="minilogo"></div>
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="navbar-nav">
        <div class="flexbox">
            <div class="blank"></div>
            <div class="stardiv"><img src="/assets/onestar.png" class="starbadge"></div>
            <div class="usersname">{{currentUser.firstName}} {{currentUser.lastName}}<br></div>
            <div class="usersname" (click)="home()">Home</div>
            <div class="usersname" (click)="tournamentPage()">Tournament</div>
            <div class="end"><a class="nav-item nav-link" (click)="logout()">Logout</a></div>
        </div>
    </div>
  </nav>
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <alert></alert>
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>