.container{
    position: absolute;
    margin-top: 70px;
    background-color: black;
    margin-left: 100px;
    width: 535px;
    border-radius: 10px;
    padding: 0;
}
.matchSched{
    background-color: rgb(44, 44, 44);
    padding: 20px;
    border-radius: 10px;
}
.bulletin{
    margin-left: -210px;
}
.btnSched{
    margin-left: 10px;
    border-radius: 3px;
    border: none;
    background-color: rgb(248, 133, 24);
}
.btnSched:hover{
    width: 130px;
}
.codenamefield{
    padding-left: 10px;
    padding-right: 10px;
    width: 490px;
    margin-bottom: 5px;
}
.input-field{
    display: flex;
    justify-content: center;
}