.container{
    width: 650px;
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 20px;
    color: rgb(148, 148, 148);
    background-color: rgb(39, 39, 39);
}
.main-container{
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
}
table{
    width: 480px;
    border: 1px solid white;
}
