<div class="container">
    <div class="mainTitle">
        <label class="subjectTitle">Admin</label><label class="subject2Title">Dashboard</label>
    </div>
    <div class="matchSched">
        <form (ngSubmit)="onSubmit()" class="form">
            <label class="subject">Match</label> <label class="subject2">Schedules</label>
            <div class="input-field">
                <input type="text" placeholder="Input match number . . ." [(ngModel)]="sched.id" name="matchnumber"  class="codenamefield">
            </div>
            <div class="input-field">
                <input type="text" placeholder="Input match link . . ." [(ngModel)]="sched.imgLink" name="link"  class="codenamefield">
            </div>
            <div class="input-field">
                <button class="btnSched" type="submit">Schedule Match</button>
            </div>
        </form>
    </div>
    <div class="matchSched">
        <form (ngSubmit)="onSubmit2()" class="form">
            <label class="subject">Match</label><label class="subject2">Highlights</label>
            <div class="input-field">
                <input type="text" placeholder="Input highlight link . . ." [(ngModel)]="vid.vidLink" name="vidlink"  class="codenamefield">
            </div>
            <div class="input-field">
                <button class="btnSched" type="submit">Post Highlight</button>
            </div>
        </form>
    </div>

    <div class="matchSched">
        <form (ngSubmit)="onSubmit3()" class="form">
            <label class="subject">Tournament</label><label class="subject2">Bracket</label>
            <div class="input-field">
                <input type="text" placeholder="Input bracket link . . ." [(ngModel)]="bracket.bLink" name="bracketLink"  class="codenamefield">
            </div>
            <div class="input-field">
                <button class="btnSched" type="submit">Post Bracket</button>
            </div>
        </form>
    </div>
    
</div>
<div class="rightPanel">
    <div class="matchSched">
        <form (ngSubmit)="onSubmit5()" class="form">
            <label class="subject">Guardian</label><label class="subject2">Updates</label>
            <div class="input-field">
                <input type="text" placeholder="Input title . . ." [(ngModel)]="update.title" name="uText"  class="codenamefield">
            </div>
            <div class="input-field">
                <textarea id="mytextarea" name="uText" placeholder="Input guardian update . . ." cols="30" rows="30" [(ngModel)]="update.uText" class="uText"></textarea>
            </div>
            <div class="input-field">
                <input type="text" placeholder="Input image link . . ." [(ngModel)]="update.imgLink" name="uText"  class="codenamefield">
            </div>
            <div class="input-field">
                <button class="btnSched" type="submit">Post Update</button>
            </div>
        </form>
    </div>
    <div class="matchSched">
        <form (ngSubmit)="onSubmit4()" class="form">
            <label class="subject">News</label><label class="subject2">Update</label>
            <div class="input-field">
                <input type="text" placeholder="Input news update . . ." [(ngModel)]="marq.marqText" name="marqText"  class="codenamefield">
            </div>
            <div class="input-field">
                <button class="btnSched" type="submit">Post Update</button>
            </div>
        </form>
    </div>

</div>
