<div class="container">
    <div class="matchSched">
        <form (ngSubmit)="onSubmit()" class="form">
            <label class="subject">Match</label> <label class="subject2">Schedules</label>
            <div class="input-field">
                <input type="text" placeholder="Input match number . . ." [(ngModel)]="sched.id" name="matchnumber"  class="codenamefield">
            </div>
            <div class="input-field">
                <input type="text" placeholder="Input match link . . ." [(ngModel)]="sched.imgLink" name="link"  class="codenamefield">
            </div>
            <div class="input-field">
                <button class="btnSched" type="submit">Schedule Match</button>
            </div>
        </form>
    </div>
    <div class="matchSched">
        <form (ngSubmit)="onSubmit2()" class="form">
            <label class="subject">Match</label><label class="subject2">Highlights</label>
            <div class="input-field">
                <input type="text" placeholder="Input match number . . ." [(ngModel)]="vid.id" name="matchnumber"  class="codenamefield">
            </div>
            <div class="input-field">
                <input type="text" placeholder="Input highlight link . . ." [(ngModel)]="vid.vidLink" name="vidlink"  class="codenamefield">
            </div>
            <div class="input-field">
                <button class="btnSched" type="submit">Post Highlight</button>
            </div>
        </form>
    </div>
</div>
