<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="tournament-container">
        <header class="hero">
            <div class="hero-wrap">
                <img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/image/final.jpg?raw=true">
           </div>
        </header>
            <app-about></app-about>
            <app-tournament-feature></app-tournament-feature>
            <app-tournament-info></app-tournament-info>
            <app-tournament-footer></app-tournament-footer>
    </div>
</body>
</html>

