<div class="display" *ngFor="let bracket of brackets">
    <img src={{this.bracket.bLink}} alt="">
    <button class="btnDelete" (click)="deleteBracket($event, bracket)" *ngIf="this.auth.getUserDetails().email == 'Admin'"><img src="/assets/delete.png" class="icon"></button>
</div>

<div class="info-main-grid">
 <!--REQUIREMENTS-->
<div class="info-grid1">
    <h3>REQUIREMENTS TO JOIN</h3>
    <p>The following are the requirements for players and teams to submit to be allowed to 
        enter our tournament:</p>

    <ul>
        <li>Teams must consist of 6 players. 5 active players and one substition player.</li>
        <li>Players age must range from 15 and above to join.</li>
        <li>Teams must specify which games you would like to join.</li>
        <li>Submit the list of the player's in game name, full name, team logo and team name in our 
            official Guardian Tournament facebook page.
        </li>
        <li>You can visit the page by clicking on this link: <a href="https://www.facebook.com/TheProjectGuardian/">CLICK HERE</a> </li>
    
    </ul>
</div>
 <!--TERMS AND CONDITIONS-->
<div class="info-grid2">
    <h3>TERMS & CONDITIONS</h3>
   <p>By joining our tournament, you are agreeing to our terms and conditions, policies and rules. 
      The terms and conditions are the following:
   </p>

   <ul>
       <li>Teams must pay a entrance fee which will cost 500 pesos (100 pesos per head).</li>
       <li>In Joining our tournament, the players are responsible for their own actions.</li>
       <li>Any accident or fights caused by players will be their fault and not the guardian team.</li>
       <li>Players and teams must comply to the scheduled time and dates of their matches.</li>
   </ul>
</div>
 <!--MECHANICS-->
<div class="info-grid3">
    <h3>TOURNAMENT MECHANICS</h3>
    <ul>
        <li>For all the esports games in the tournament, there are no limits on how many teams can join the game's tournament.</li>
        <li>Out of all the teams that entered their esports games, They will be divided into to groups to face off, only the best teams in both groups can advance.</li>
        <li>Out of those teams, only the top 8 will proceed to our elimination stage.</li>
        <li>The team seeding will be determined based on team standings or team wins and loses.</li>
        <li>In the elimination stage, teams will play one game to determine who will advance to the next round.</li>
        <li>In the semifinal stage, the teams that would advance would once again play one game to determine who will reach the finals.</li>
        <li>The last 2 teams will face off in a best of 3 series. The first team to win 2 games will be crowned as the Guardian Tournament Champions.</li>                
    </ul>
</div>
 <!--POLICY-->
<div class="info-grid4">
    <h3>TOURNAMENT POLICY</h3>
    <p>The following are the tournament policies that players and teams must follow:</p>

    <ul>
        <li>Any form of trashtalking is not allowed in game.</li>
        <li>If a player or a team is caught cheating, the team will be immediately disqualified.</li>
        <li>Harassment of any kind is not tolerated in our tournament. If a player or team is caught doing such actions, the team or the player is immediately banned from participating or watching our tournament.</li>
        <li>Harassment can include, for example, racial slurs, offensive or derogatory remarks about a person's race or color, or the display of racially-offensive symbols.</li>
        <li>If a player or team is caught disrespecting or verbally assulting a member of the Guardian team, they will 
            immediately be disqualified and banned from our tournament.
        </li>
    </ul>
</div>
</div>