    <div class="display">
            <img src="/assets/image/tournament.jpg">
    </div>

    <div class="skill-main-grid">
         <!--REQUIREMENTS-->
        <div class="skill-grid1">
            <h3>REQUIREMENTS TO JOIN</h3>
            <p>The following are the requirements for players and teams to submit to be allowed to 
                enter our tournament:</p>

            <ul>
                <li>Teams must consist of 6 players. 5 active players and one substition player.</li>
                <li>Submit the list of players and team name.</li>
                <li>Players age must range from 15 and above to join.</li>
                <li>The teams must have at least one member that is currently studying in AUP.</li>
                <li>Players must have written consent that they are allowed to attend and participate in our tournament.</li>
                <li>Players and teams must submit medical clearance sheet to determine that there would be no complications when playing.</li>
            </ul>
        </div>
         <!--TERMS AND CONDITIONS-->
        <div class="skill-grid2">
            <h3>TERMS & CONDITIONS</h3>
           <p>By joining our tournament, you are agreeing to our terms and conditions, policies and rules. 
               If you are the parent or legal guardian of a player under the age of 17 to 15, you are agreeing to the terms on behalf
               of yourself and your child. The terms and conditions are the following:
           </p>

           <ul>
               <li>The players are allowed by their parents or guardians to participate in our tournament.</li>
               <li>Players must inform the staff if they have health concerns. Players and teams must submit their medical clearance sheet.</li>
               <li>Players and teams must follow our policies.</li>
               <li>Players must maintain a grade of B- to be allowed to participate in our tournament.</li>
           </ul>
        </div>
         <!--MECHANICS-->
        <div class="skill-grid3">
            <h3>TOURNAMENT MECHANICS</h3>
            <ul>
                <li>10 teams will only be included in our tournament. The 10 teams will be divided into 2 groups.</li>
                <li>Out of those 10 teams, only the top 8 will proceed to our elimination stage.</li>
                <li>The team seeding will be determined based on team standings or team wins and loses.</li>
                <li>In the elimination stage, teams will play one game to determine who will advance to the next round.</li>
                <li>In the semifinal stage, the teams that would advance would once again play one game to determine who will reach the finals.</li>
                <li>The last 2 teams will face off in a best of 3 series. The first team to win 2 games will be crowned as the Guardian Tournament Champions.</li>                
            </ul>
        </div>
         <!--POLICY-->
        <div class="skill-grid4">
            <h3>TOURNAMENT POLICY</h3>
            <p>The following are the tournament policies that players and teams must follow:</p>

            <ul>
                <li>Any form of trashtalking is not allowed in game.</li>
                <li>If a player or a team is caught cheating, the team will be immediately disqualified.</li>
                <li>Harassment of any kind is not tolerated in our tournament. If a player or team is caught doing such actions, the team or the player is immediately banned from participating or watching our tournament.</li>
                <li>Harassment can include, for example, racial slurs, offensive or derogatory remarks about a person's race or color, or the display of racially-offensive symbols.</li>
            </ul>
        </div>
    </div>