<div class="bulletinPanel">
    <div class="RankingPanel">
    <div class="namecard">
        <p><strong>GUARDIAN </strong>RANKING</p>
    </div>
    <div class="ranking-placement">
        <div class="placement-fix">
            <li><img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/onestar.png?raw=true">Rondel Hallare</li>
            <li><img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/twostars.png?raw=true">Josiah Autor</li>
            <li><img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/threestars.png?raw=true">Jether De Leon</li>
            <div class="right-section">
                <li><img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/fourstars.png?raw=true">Cj Espinoza</li>
                <li><img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/fivestars.png?raw=true">Dustin Amoda</li>
            </div>
        </div>
    </div>
    </div>

        <hr>
        <div class="update-section">
            <div class="stylingp">
                <p>TOURNAMENT UPDATES</p>
            </div>

            <div class="head-section">

            <div class="updatesSection">
                <div class="center-section">

                    <p><b>April 29, 2020</b> <br><br>
                        Good day everyone, We hope you are all doing well, with the current situation and the recent announcement of the goverment, the tournament is still postponed..
                    </p>
                    <label (click)="blogPage()">Read more</label>
                </div>

                <div class="set-section">

                    <p><b>April 23, 2020</b> <br><br>
                         We, the Guardian team is happy to share with you our future plans for the Guardian Tournament. Due to the current situation our country is in..
                    </p>
                    <label (click)="blogPage()">Read more</label>
                </div>
            </div>

                <div class="upcoming-section">
                    <img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/UpcomingMatch.jpg?raw=true" class="MatchLOL">
                </div>

                <div class="upcoming-section">
                    <img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/UpcomingMatchDota.jpg?raw=true" class="MatchLOL">
                </div>
                
                <div class="upcoming-section">
                    <img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/UpcomingMatchML.jpg?raw=true" class="MatchLOL">
                </div>


            </div>
       
        </div>
</div>


