.bulletinPanel{
    height: 1290px;
    width: 535px;
    border-radius: 20px;
    background-color: rgb(44, 44, 44);
    margin-left: 210px;
    margin-top: 30px;
}


 .namecard p{
    color: rgb(78, 64, 64);
    padding-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;    
}

p{
    color: white;
    padding-top: 30px;
    font-family: Impact;
    font-size: 30px; 
}

.namecard p strong{
    color:rgb(39, 39, 39);

}

.ranking-placement{
    width: 100%;
    height: 100%;
    line-height: -100px;
    
}

img{
    width: 70px;
}

li{
    list-style: none;
    color: white;

}

.RankingPanel{
    background-image: url(https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/RankingPanel.jpg?raw=true);
    border-radius: 20px;
}

.namecard{
    display: flex;
    padding-left: 140px;

    
}
.namecard h1{
    font-size: 20px;
}

.right-section{
    float: right;
    margin-right: 40px;
    margin-top: -245px;
}

hr{
    border: 1px solid rgb(248, 133, 24);
}

.stylingp{
    color: rgb(248, 133, 24);
    font-family: Impact;
    font-size: 30px;  
    text-align: center;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    margin-left: 110px;
    background-image: url(/assets/background1234.jpg);
}

.stylingp p{
    color: rgb(248, 133, 24);
}

.head-section p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.head-section{
    margin: 0 auto;
    bottom: 0;
}

.head-section label{
    font-weight: bold;
    cursor: pointer;
    color: rgb(31, 31, 31);
    border:solid 1px rgb(227, 116, 47);
    border-radius:5px;
    padding: 3px;
    background-color: rgb(227, 116, 47);
}

.head-section .left-section,
.head-section .center-section,
.head-section .set-section{
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
    background-image: url(https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/background1234.jpg?raw=true);
}

.left-section{
    width: 200px;
    border: 1px solid rgb(248, 133, 24);
    padding:5px;
    margin-right: 10px;
    border-radius: 10px;

}

.center-section{
    width: 200px;
    border: 1px solid rgb(248, 133, 24);
    padding:5px;
    margin-right: 10px;
    border-radius: 10px;

}
.set-section{
    width: 200px;
    height: 297px;
    border: 1px solid rgb(248, 133, 24);
    padding:5px;
    margin-right: 10px;
    border-radius: 10px;
}

.upcoming-section{
    border: 1px solid rgb(248, 133, 24);
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    width: 500px;
    margin-left: 20px;
}

.MatchLOL{
    width: 100%;
    border-radius: 10px;
}







