.bulletinPanel{
    height: 540px;
    width: 535px;
    border-radius: 20px;
    background-color: rgb(44, 44, 44);
    margin-left: 210px;
    margin-top: 30px;
}


 .namecard p{
    color: rgb(248, 133, 24);
    padding-top: 10px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;    
}


.namecard p strong{
    color:rgb(255, 255, 255);

}

.namecard{
    width: 400px;
    height: 70px;

}

.upcoming-section{
    margin-top: 20px;
    border: 1px solid rgb(248, 133, 24);
    text-align: center;
    border-radius: 10px;
    width: 500px;
    margin-left: 20px;
}

.MatchLOL{
    width: 100%;
    border-radius: 10px;
}







