<div class="jumbotron">
    <div class="container">
        <app-add-post></app-add-post>
        <app-items></app-items>
        <div class="sidenav">
            <app-side-nav></app-side-nav>
        </div>
    </div>
    <div class="RightPanel">
        <div class="marquee" >
        <div *ngFor="let marq of marqs">
            <marquee behavior="scroll" scrollamount="8" direction="left" class="mText">{{marq.marqText}}</marquee>
        </div>
    </div>
        <div class="bulletinBoard">
            <app-bulletin></app-bulletin>
        </div>
    </div>
</div>


