
<h1>TOURNAMENT ANNOUNCEMENTS:</h1>
<div class="news-main-grid">
    <div class="news-grid1">
            <h2>Guardian Tournament Update</h2>
            <h3>APRIL 26, 2020</h3>
            <p>With the current situation and the recent announcement of the goverment, 
                the tournament is still postponed.</p>            
    </div>

    <div class="news-grid2">
        <h2>Guardian Tournament Update</h2>
        <h3>APRIL 28, 2020</h3>
        <p>New updates in the tournament page will be released soon!</p>            
    </div>

    <div class="news-grid3">
        <h2>Guardian Tournament Update</h2>
        <h3>MAY 1, 2020</h3>
        <p>Today marks the first day of the General Community Quarantine. Stay safe everyone! God Bless!</p>            
    </div>

    <div class="news-grid4">
        <h2>Guardian Tournament Update</h2>
        <h3>TBA</h3>
        <p>News coming soon...</p>            
    </div>
    
</div>