
h1 {
    margin-top: 20px;
    color: rgb(248, 133, 24);
    font-size: 30px;
    text-align: center;

}
.news-main-grid {
    text-align: center;
    border-style: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5px;
}
.news-grid1, .news-grid2, .news-grid3, .news-grid4 {
    border-color: rgb(248, 133, 24);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    margin:10px;
}
.news-main-grid h2 {
    font-size: 25px;
    color: rgb(248, 133, 24);
}
.news-main-grid h3 {
    font-size: 20px;
    color: white;
}
.news-main-grid p {
    color:white;
    text-align: justify;
    font-size: 20px;
    padding: 10px;
}
.news-main-grid h4 {
    color: white;
    text-align: right;
    font-size: 18px;
    font-style: italic;
}


