
<h1>TOURNAMENT ANNOUNCEMENTS:</h1>
<div class="news-main-grid">
    <div class="news-grid1">
            <h2>Guardian Tournament Update</h2>
            <h3>APRIL 26, 2020</h3>
            <p>With the current situation and the recent announcement of the goverment, 
                the tournament is still postponed. We encourage everyone to stay at home if possible, to our
                brave frontliners, we thank you for all of your sacrifices.</p>
            <h4>-Sincerely, Team Guardian-</h4>         
    </div>

    <div class="news-grid2">
        <h2>Guardian Tournament Update</h2>
        <h3>APRIL 28, 2020</h3>
        <p>New updates in the tournament page will be released soon! Stay safe!</p>
        <h4>-Sincerely, Team Guardian-</h4>            
    </div>

    <div class="news-grid3">
        <h2>Guardian Tournament Update</h2>
        <h3>MAY 1, 2020</h3>
        <p>Today marks the first day of the General Community Quarantine. With that said, once the 
            General Community Quarantine is over, we will immediately announce our next steps
            in making sure that the tournament will run smoothly. Stay safe everyone! God Bless!
        </p>
        <h4>-Sincerely, Team Guardian</h4>             
    </div>

    <div class="news-grid4">
        <h2>Guardian Tournament Update</h2>
        <h3>TBA</h3>
        <p>News coming soon...</p>            
    </div>
    
</div>