<div class="profileCard">
    <div class="nameCard">
        <h2>{{auth.getUserDetails()?.first_name}} {{auth.getUserDetails()?.last_name}}</h2> 
    </div>
    <h6>Department: College of Business</h6>
    <div class="badges">
    <img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/rank-noob.png?raw=true" class="starbadge" data-toggle="tooltip" data-placement="top" title="Badge">
    <img src="https://github.com/ProjectGuardian/Guardian-Test/blob/master/src/assets/CollegeRanks/COB.png?raw=true" class="collegebadge" data-toggle="tooltip" data-placement="top" title="Colle">
    </div>
</div>